@font-face {
  font-family: montserrat;
  src: url(../font/Montserrat-ExtraBold.ttf);
}

:root {
  --primarycolor: #45AAF2;
}

html,
body {
  background: linear-gradient(-38deg, #45aaf2, white);
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-left: -1px;
  position: fixed;

}

.header {

  height: 55px;
  background-color: var(--primarycolor);
  border-radius: 0 0 0 52px;
  box-shadow: -5px 7px 20px #00000030;

  color: white;
  font-size: 35px;
  font-family: montserrat;

  padding-left: 50px;

  padding-top: 35px;
  margin-top: -20px;
  padding-bottom: -80px;
}

.container {
  font-family: montserrat;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a.menus {
  text-decoration: none;
}

.menus {
  background-color: white;
  color: var(--primarycolor);
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: -10px;
  padding: 10px 15px;
  width: 280px;
  font-size: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

p.title {
  flex: 1;
}



a:visited,
a:link {
  text-decoration: none;
  color: var(--primarycolor);
}

.navbar {
  bottom: 0;
  position: fixed;
  width: 360px;
  overflow: hidden;
  /* margin-top: 35px; */
  height: 50px;
  background-color: white;
  border-radius: 0 52px 0px 0px;
  box-shadow: 7px -3px 20px #00000025;

  color: var(--primarycolor);
  font-size: 25px;
  font-family: montserrat;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;

}

section.bwh {
  padding-left: 20px;
  padding-right: 25px;
  /* padding-top: 5px;
  padding-bottom: 25px; */
}